<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="UI_Tests" verbose="1" >
    <test name="Test" >
        <classes>
            <class name="com.elpisor.hq.tests.ui_tests.HeaderTest" />
            <class name="com.elpisor.hq.tests.ui_tests.LoginTest" />
            <class name="com.elpisor.hq.tests.ui_tests.RegistrationTest" />
        </classes>
    </test>
</suite>
